<footer class="site-footer">
    <div class="container footer-top">
        <div class="footer-links">
            <h3>GTCC Dongdaemun Education Center</h3>
            <p>서울 동대문구 | TEL 010-8796-7363 | 대표자 박미순</p>
        </div>
        <div class="footer-links">
            <h3>바로가기</h3>
            <ul>
               <li><a href="http://gtcc.edu.ph/">GTCC본교</a></li>
               <li><a href="http://myyoungji.com/">영지국제학교</a></li>
               <li><a href="http://www.icqa.us">국제민간자격진흥원</a></li>
            </ul>
        </div>
        <div class="footer-links">
            <h3>고객센터</h3>
            <ul>
                <li><a href="#faq">FAQ</a></li>
                <li><a href="#contact">1:1 문의</a></li>
                <li><a href="#location">오시는 길</a></li>
            </ul>
        </div>
    </div>
    <div class="container footer-bottom">
        <small>© 2024 Seoul Cyber Campus. All rights reserved.</small>
        <div class="social">
            <a href="#" aria-label="유튜브">YouTube</a>
            <a href="#" aria-label="인스타그램">Instagram</a>
            <a href="#" aria-label="페이스북">Facebook</a>
        </div>
    </div>
</footer>
